@import '../../global/global.scss';

.form {
    &__field {
        display: flex;
        width: 100%;
    }

    &__input {
        margin-top: 8px;
        background: var(--yellow_form);
        border: 2px solid rgba(128, 128, 128, 0.2);
        border-radius: 6px;
        padding: 13px 16px;
        font-weight: var(--fw_400);
        font-size: var(--fz_14);
        line-height: 100%;
        color: var(--grey_currency);
        width: 100%;
        outline: none;


        @include desktop {
            font-size: var(--fz_14_m13);
        }

        @include smallDesktop {
            font-size: var(--fz_14_m92);
        }

        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button,
        &[type="date"]::-webkit-inner-spin-button,
        &[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }
     
        &_error {
            border: 2px solid var(--orange_form);
        }

        &_errortext {
            font-weight: var(--fw_500);
            font-size: var(--fz_16);
            line-height: 100%;
            color: var(--orange_form);
            margin-top: 4px;
        }

        &:focus {
            border: 2px solid var(--purple_form);
        }
    }



    &__label {
        position: relative;
        font-weight: var(--fw_500);
        font-size: var(--fz_16);
        line-height: 100%;
        display: flex;
        align-items: center;

        color: var(--black_form);

        @include desktop {
            font-size: var(--fz_16_m13);
        }


        &_icon {
            transform: translate(-35px, 22px);
            margin-right: -22px;

            @include smallDesktop {
                transform: translate(-35px, 19px);
            }
        }

        &_required {
            position: relative;

            &::after {
                content: '*';
                top: -10px;
                position: absolute;
                font-weight: var(--fw_500);
                font-size: var(--fz_16);
                line-height: 100%;
                right: -15px;
                color: var(--red_form);

                @include desktop {
                    font-size: var(--fz_16_m13);
                }

            }
        }
    }

    &__wrapper {
        max-width: 300px;
    }
}

.btn {
    display: flex;
    justify-content: end;
    margin-top: 24px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
}