@import 'global/global.scss';

.applicationId {
    margin-top: 24px;

    &__wrapper {
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 28px;
        padding: 32px;
    }

    &__step {
        font-weight: var(--fw_500);
        font-size: var(--fz_16);
        line-height: 100%;
        color: var(--black_exchange);

        @include desktop {
            font-size: var(--fz_16_m13);
        }
    }

    &__title {
        font-weight: var(--fw_700);
        font-size: var(--fz_30);
        color: var(--black_exchange);
        display: inline-block;
        margin-right: 80px;

        @include desktop {
            font-size: var(--fz_30_m13);
        }

        @include smallDesktop {
            font-size: var(--fz_30_m92);
        }
    }

    &__subtitle {
        font-weight: var(--fw_700);
        font-size: var(--fz_20);
        color: var(--black_exchange);
        margin-top: 32px;

        @include desktop {
            font-size: var(--fz_20_m13);
        }

        @include smallDesktop {
            font-size: var(--fz_20_m92);
        }
    }

    &__inputs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 16px;
        margin-top: 40px;

        @include smallDesktop {
            margin-top: 30px;
        }

        &_wrapper {
            max-width: 100% !important;
        }
    }

    &__btn {
        display: flex;
        justify-content: end;
        margin-top: 24px;

    }
}

.btn {
    padding: 16px 30px !important;
    border-radius: 8px !important;
}