@import "./normalize.css";

:root {
    /* colors */

    --white: #FFFFFF;
    --blue_light: #003CFF;
    --blue_dark: #686DF1;
    --green: #2FAB73;
    --black_title: #1C1C1C;
    --black_subtitle: #1C1C1E;
    --black_navbar: #1D1929;
    --black_exchange: #000000;
    --grey: #4F5665;
    --grey_currency: #808080;
    --grey_input: #9092B0;
    --grey_light: #2D3748;
    --features_black: #0B132A;
    --orange: #EB801D;
    --bgcolor: #F5F4FF;

    /* text */

    --fz_14: 14px;
    --fz_16: 16px;
    --fz_20: 20px;
    --fz_24: 24px;
    --fz_30: 30px;
    --fz_35: 35px;
    --fz_48: 48px;


    --lh_112: 112%;
    --lh_30: 30px;
    --lh_50: 50px;

    --fw_400: 400;
    --fw_500: 500;
    --fw_600: 600;
    --fw_700: 700;

    /* media */
    --fz_14_m13: 12px;
    --fz_14_m92: 10px;
    --fz_14_m500: 8px;

    --fz_16_m13: 14px;
    --fz_16_m92: 12px;
    --fz_16_m500: 10px;

    --fz_20_m13: 18px;
    --fz_20_m92: 16px;
    --fz_20_m500: 14px;

    --fz_24_m13: 22px;
    --fz_24_m92: 20px;
    --fz_24_m500: 16px;

    --fz_30_m13: 28px;
    --fz_30_m92: 24px;
    --fz_30_m500: 20px;

    --fz_35_m13: 30px;
    --fz_35_m92: 26px;
    --fz_35_m500: 22px;

    --fz_48_m13: 36px;
    --fz_48_m92: 28px;
    --fz_48_m500: 22px;

    --lh_30_m13: 25px;
    --lh_30_m92: 22px;
    --lh_30_m500: 18px;

    --lh_50_m13: 40px;
    --lh_50_m92: 32px;
    --lh_50_m500: 24px;

    --lh_112_m92: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

body {
    background-color: var(--bgcolor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1320px;
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.button {
    font-weight: var(--fw_700);
    font-size: var(--fz_16);
    line-height: var(--lh_112);
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    background-color: var(--blue_light);
    border-color: var(--blue_light);
    border-radius: 16px;
    padding: 16px;
    color: var(--white);
    cursor: pointer;
}

.header__logo {
    cursor: pointer;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

.header__links {
    display: flex;
    gap: 40px;
}

.header__links-link {
    font-weight: var(--fw_700);
    font-size: var(--fz_16);
    line-height: var(--lh_112);
    letter-spacing: 0.02em;
    color: var(--black_navbar);
    cursor: pointer;
    list-style: none;
}

#burger__toggle {
    opacity: 0;
    display: none;
}

#burger__toggle:checked+.burger__btn>span {
    transform: rotate(45deg);
}

#burger__toggle:checked+.burger__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#burger__toggle:checked+.burger__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#burger__toggle:checked~.burger__box {
    right: 0 !important;
}

.burger__btn {
    position: fixed;
    top: 25px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

.burger__btn>span,
.burger__btn>span::before,
.burger__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.burger__btn>span::before {
    content: '';
    top: -8px;
}

.burger__btn>span::after {
    content: '';
    top: 8px;
}

.burger__box {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 10;
}

.burger__box li:last-child a {
    color: var(--white);
}

.burger__box li:last-child {
    padding: 20px;
}

.burger__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.burger__item:hover {
    background-color: #CFD8DC;
}

.cards {
    margin-top: 132px;
}

.cards__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 160px;
}

.cards__block {
    width: 40%;
}

.cards__block-card {
    justify-self: flex-end;
}

.cards__block-card img {
    max-width: 100%;
}

.cards__block:nth-child(2) {
    display: grid;
    grid-template-columns: minmax(10%, 250px) minmax(10%, 250px);
    gap: 16px;
}

.cards__title {
    font-weight: var(--fw_700);
    font-size: var(--fz_48);
    line-height: var(--lh_50);
    color: var(--black_subtitle);
    margin: 0;
}

.cards__button {
    margin-top: 36px;
}

.features {
    margin-top: 110px;
}

.features__wrapper {
    display: flex;
    gap: 73px;
}

.features__img {
    max-width: 510px;
}

.features__img img {
    width: 100%;
    object-fit: cover;
}

.features__textblock {
    margin: 80px 0 0;
}

.features__title {
    margin: 0;
    font-family: 'Rubik';
    font-weight: var(--fw_500);
    font-size: var(--fz_35);
    line-height: var(--lh_50);
    color: var(--features_black);
}

.features__subtitle {
    margin: 20px 0 0;
    font-family: 'Rubik';
    font-weight: var(--fw_400);
    font-size: var(--fz_16);
    line-height: var(--lh_30);
    color: var(--grey);
}

.features__list {
    margin: 25px 0 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.features__list-item {
    font-family: 'Rubik';
    font-weight: var(--fw_400);
    font-size: var(--fz_14);
    line-height: var(--lh_30);
    color: var(--grey);
}

.features__list-block {
    display: flex;
    align-items: center;
    gap: 16px;
}

.exchange {
    margin-top: 50px;
}

.exchange__wrapper {
    background: linear-gradient(358.2deg, rgba(178, 178, 178, 0.8) 8.06%, rgba(178, 178, 178, 0) 67.93%), rgba(244, 244, 244, 0.9);
    mix-blend-mode: normal;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(187, 187, 187, 0.2);
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    gap: 30px;
}

.exchange__block {
    display: flex;
    flex-direction: column;
}

.exchange__title {
    margin: 0;
    font-weight: var(--fw_500);
    font-size: var(--fz_30);
    line-height: var(--lh_50);
    color: var(--black_subtitle);
}

.exchange__subtitle {
    margin: 24px 0 0;
    font-weight: var(--fw_500);
    font-size: var(--fz_20);
    line-height: var(--lh_50);
    color: var(--black_exchange);
}

.exchange__currency {
    margin-top: 32px;
    display: flex;
    gap: 32px;
    max-width: 65%;
    flex-wrap: wrap;
}

.exchange__currency-block {
    display: flex;
    align-items: center;
}

.exchange__currency-text {
    font-weight: var(--fw_700);
    font-size: var(--fz_20);
    line-height: var(--lh_112);
    color: var(--grey_currency);
    mix-blend-mode: normal;
}

.exchange__currency-amount {
    font-weight: var(--fw_700);
    font-size: var(--fz_20);
    line-height: var(--lh_112);
    color: var(--black_exchange);
}

.exchange__link {
    margin-top: 51px;
    display: inline-block;
    font-weight: var(--fw_700);
    font-size: var(--fz_20);
    line-height: var(--lh_112);
    text-decoration: none;
    color: var(--white);
}

.exchange__block:nth-child(2) {
    align-items: end;
}

.exchange__update {
    font-weight: var(--fw_500);
    font-size: var(--fz_16);
    line-height: var(--lh_50);
    color: var(--black_exchange);
}

.exchange__img {
    max-width: 120px;
    margin-top: auto;
}

.map {
    margin-top: 50px;
}

.map__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map__title {
    margin: 0;
    text-align: center;
    font-weight: var(--fw_500);
    font-size: var(--fz_30);
    line-height: var(--lh_50);
    color: var(--black_title);
}

.map__subtitle {
    margin: 0;
    text-align: center;
    font-weight: var(--fw_500);
    font-size: var(--fz_16);
    line-height: var(--lh_50);
    color: var(--black_subtitle);
}

.map__img {
    margin-top: 50px;
    width: 100%;
}

.support {
    margin-top: 65px;
}

.support__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support__title {
    margin: 0;
    text-align: center;
    font-weight: var(--fw_700);
    font-size: var(--fz_24);
    color: var(--orange);
}

.support__subtitle {
    margin: 32px 0 0;
    text-align: center;
    font-weight: var(--fw_700);
    font-size: var(--fz_30);
    color: var(--black_subtitle);
}

.support__info {
    text-align: center;
    margin: 26px 0 0;
    font-weight: var(--fw_500);
    font-size: var(--fz_30);
    color: var(--black_subtitle);
}

.support__input {
    margin-top: 62px;
    background: var(--white);
    box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
    border-radius: 20px;
    padding: 22px 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support__input-input {
    border: 0;
    font-family: 'Nunito Sans';
    padding: 10px;
    outline: none;
    color: var(--grey_input);
}

.support__input-input {
    border: 0;
}

.support__button {
    display: flex;
    align-items: center;
    padding: 0 30px 0 14px;
    gap: 10px;
    background-color: var(--blue_dark);
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.support__button-img {
    margin-bottom: 5px;
}

.support__button-text {
    font-weight: var(--fw_700);
    font-size: var(--fz_16);
    color: var(--white);
}

.footer {
    margin-top: auto;
    padding-top: 100px;
}

.footer__bg {
    background: linear-gradient(0deg, rgba(178, 178, 178, 0.2), rgba(178, 178, 178, 0.2)), #F4F4F4;
}

.footer__wrapper {
    padding: 96px 0;

}

.footer__logo {
    max-height: 50px;
    max-width: 160px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer__number {
    color: var(--black_exchange);
    text-decoration: none;
    font-weight: var(--fw_700);
    font-size: var(--fz_30);
}

.footer__email {
    font-weight: var(--fw_500);
    font-size: var(--fz_16);
    color: var(--grey_light);
    text-decoration: none;
}

.footer__tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 56px 0 0;
    row-gap: 8px;
    column-gap: 32px;
}

.footer__tags-item {
    font-weight: var(--fw_500);
    font-size: var(--fz_16);
    color: var(--black_exchange);
    cursor: pointer;
}

.footer__cookies {
    margin: 64px 0 0;
    font-weight: var(--fw_500);
    font-size: var(--fz_16);
    color: var(--grey_light);
}