@import '../../global/global.scss';

.exchange {
    &__currency {
        margin-top: 32px;
        display: flex;
        gap: 32px;
        max-width: 65%;
        flex-wrap: wrap;

        @include desktop {
            margin-top: 26px;
        }

        @include smallDesktop {
            gap: 20px;
        }

        &_block {
            display: flex;
            align-items: center;
            width: 100px;

            &:nth-child(2) {
                align-items: end;
            }
        }

        &_text,
        &_amount {
            font-weight: var(--fw_700);
            font-size: var(--fz_20);
            line-height: var(--lh_112);

            @include desktop {
                font-size: var(--fz_20_m13);
                line-height: var(--lh_112);
            }

        }

        &_text,
        &_amount,
        &__link {
            font-size: var(--fz_20_m92);
            line-height: var(--lh_112_m92);
        }

        &_text {
            color: var(--grey_currency);
            mix-blend-mode: normal;
        }

        &_amount {
            color: var(--black_exchange);
        }
    }
}